@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  
  body, #root, .flex, .flex-col, .overflow-hidden, .overflow-y-auto {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
  }

  /* Force background colors */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
